body {
    color      : black;
    height     : 100vh;
    overflow   : hidden;
    margin     : 0;
    text-align : center;
  }

#start {
    font-size       : 2rem;
    background-color: transparent;
    border          : 2px solid #C0C0C0;
    color           : black;
    padding         : 15px;
    cursor          : pointer;
  }

  #start:hover {
    border: 2px solid #16D9E3;
    color : #16D9E3;
  }

  h1 {
    line-height: 1.4;
    font-size  : 4rem;
  }

  .screen {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    height         : 100vh;
    width          : 100vw;
    transition     : margin 0.5s ease-out;

  }

  .screen.up {
    margin-top: -100vh;
  }

